<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/convertScoring">Convert the Score</a></li>
            <li><a href="/rootSquare">Find The Square Root</a></li>
            <li><a href="/hypotenuse">Find the hypotenuse</a></li>
        </ul>
    </nav>
    <section class="form">
        <div class="baris">
            <div class="colm-30">
                <label for="score">Score</label>
            </div>
            <div class="colm-80">
                <input type="number" id="score" name="score" placeholder="input your score">
            </div>
        </div>
        <div class="baris">
            <div class="colm-30">
                <label for="converting_result">Grading</label>
            </div>
            <div class="colm-80">
                <input type="text" id="converting_result" name="converting_result" placeholder="your grade is" readonly>
            </div>
        </div>
        <div class="baris">
            <input type="button" onclick="Scoring()" value="Convert">
        </div>
    </section>
</body>
</html>